.left {
    left:-8.33%;
    text-align: left;
    float: left;
    padding: 5% 0;
    width:50%;
    z-index:-10;
}

.right {
    display: table;
    left:31.25%;
    top: 75px;
    float: right;
    z-index:-10;
    width:50%;
}

.vert-centered {
    display: table-cell;
    padding: 10% 0;
    vertical-align: middle;
}

cite {
    font-size: 0.75rem;
    font-style: italic;
    letter-spacing: normal;
    line-height: 1rem;
    text-align: justify;
}
